In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file_path = "B2B Sales Data.csv"  # Change this if needed
df = pd.read_csv(file_path, low_memory=False)

In [3]:
df.shape

(20000, 47)

In [4]:
pd.set_option('display.max_columns', None)
df.head()

,NTN,NAME,S.T.Reg. No,Address,Customer_Receipt_NO,Customer_NTN,Customer_NAME,Customer_S.T.Reg. No,Customer_Phone Number,Customer_Address,Business Name,Product 1,Product 2,Product 3,Product 4,Date,Quantity_Product_1,Quantity_Product_2,Quantity_Product_3,Quantity_Product_4,Rate_Product_1,Rate_Product_2,Rate_Product_3,Rate_Product_4,Tax_Product_1,Tax_Product_2,Tax_Product_3,Tax_Product_4,Product_1_Price_with_Tax,Product_2_Price_with_Tax,Product_3_Price_with_Tax,Product_4_Price_with_Tax,Amount Excluding Taxes_Product_1,Sales Tax @ 18%_Product_1,Amount Including Taxes_Product_1,Amount Excluding Taxes_Product_2,Sales Tax @ 18%_Product_2,Amount Including Taxes_Product_2,Amount Excluding Taxes_Product_3,Sales Tax @ 18%_Product_3,Amount Including Taxes_Product_3,Amount Excluding Taxes_Product_4,Sales Tax @ 18%_Product_4,Amount Including Taxes_Product_4,Total Amount Excluding Taxes,Total Sales Tax @ 18%,Total Amount Including Taxes
0,3.65029E+12,MUHAMMAD BEHZAD ARSHAD,10000-10046-8761-413-23,040-Tando Allah Main,1122916,0000092-2,ABDUL MANAN,32-77-8761-413-23,685874327,145-C Sattelite Town,1 CARAT FASHION,Glitter Threads,Silk Stitches,Sparkle Threads,Beaded Silks,12-05-2020,25,48,33,93,76,90,62,53,0.069241,0.159266,0.161319,0.083234,81,104,72,57,1900,342.00,2242.00,4320,777.60,5097.60,2046,368.28,2414.28,4929,887.22,5816.22,13195,2375.10,15570.10
1,3.7405E+12,MISS FARHAT MALIK,10000-10046-8761-413-23,118. Gulshan-E-Iqbal,1181647,0000094-9,MUNAWAR SULTANA,33-77-8761-413-23,744080328,Wala Colony House 34,1 DOLLAR 2 DOLLAR,Budget Binders,Affordably Printed,Quick Copies Plus,Value Stapled,24-02-2018,57,15,71,55,92,96,32,34,0.123329,0.099804,0.117363,0.070858,103,106,36,36,5244,943.92,6187.92,1440,259.20,1699.20,2272,408.96,2680.96,1870,336.60,2206.60,10826,1948.68,12774.68
2,3.73012E+12,MIRZA SHAHBAZ BAIG,10000-10046-8761-413-23,131-West Wood Colony,1196218,0000098-1,EHSAN SHAFQAT,34-77-8761-413-23,912263285,Apt-906 Rehman Tower,"1 DOLLAR 2 DOLLAR,Ali Traders",Affordably Bright,Value Binds,Pixel Prints,Budget Bind & Print,04-05-2022,93,11,46,36,49,63,74,64,0.161559,0.171646,0.061918,0.160254,57,74,79,74,4557,820.26,5377.26,693,124.74,817.74,3404,612.72,4016.72,2304,414.72,2718.72,10958,1972.44,12930.44
3,3.65029E+12,MUHAMMAD BILAL ARSHAD,10000-10046-8761-413-23,145-C Sattelite Town,908244,0000131-7,MUHAMMAD ANEES QURESHI,35-77-8761-413-23,3003232696,37-C P. O Box. 20021,1 DOLLAR SHOP,Quick Fix,Value Pack,Budget Staples,Dollar Deals,12-01-2021,2,53,54,33,34,23,59,88,0.167992,0.161236,0.130562,0.089058,40,27,67,96,68,12.24,80.24,1219,219.42,1438.42,3186,573.48,3759.48,2904,522.72,3426.72,7377,1327.86,8704.86
4,3.65017E+12,BABAR HABIB NOON,10000-77-18730-413-23,14-Km Ferozpure Road,902983,0000146-5,MUHAMMAD AJMAL,36-77-8761-413-23,3005352693,205 Muhammadia Plaza,1 Dollar Shoping Mall,DealsWrap,BudgetBox,PennyPicks,QuickDealsHub,16-08-2023,79,51,47,61,78,81,97,94,0.050586,0.098878,0.192663,0.178826,82,89,116,111,6162,1109.16,7271.16,4131,743.58,4874.58,4559,820.62,5379.62,5734,1032.12,6766.12,20586,3705.48,24291.48

In [5]:
### **1. Data Inspection**
print("Dataset Info:\n")
print(df.info())

Dataset Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 47 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NTN                               20000 non-null  object
 1   NAME                              19996 non-null  object
 2   S.T.Reg. No                       20000 non-null  object
 3   Address                           20000 non-null  object
 4   Customer_Receipt_NO               20000 non-null  int64
 5   Customer_NTN                      20000 non-null  object
 6   Customer_NAME                     19999 non-null  object
 7   Customer_S.T.Reg. No              20000 non-null  object
 8   Customer_Phone Number             20000 non-null  object
 9   Customer_Address                  20000 non-null  object
 10  Business Name                     20000 non-null  object
 11  Product 1                         19985 non-null  object
 12  Product 2                         19997 non-null  object
 13  Product 3                         19996 non-null  object
 14  Product 4                         19995 non-null  object
 15  Date                              20000 non-null  object
 16  Quantity_Product_1                20000 non-null  int64
 17  Quantity_Product_2                20000 non-null  int64
 18  Quantity_Product_3                20000 non-null  int64
 19  Quantity_Product_4                20000 non-null  int64
 20  Rate_Product_1                    20000 non-null  int64
 21  Rate_Product_2                    20000 non-null  int64
 22  Rate_Product_3                    20000 non-null  int64
 23  Rate_Product_4                    20000 non-null  int64
 24  Tax_Product_1                     20000 non-null  float64
 25  Tax_Product_2                     20000 non-null  float64
 26  Tax_Product_3                     20000 non-null  float64
 27  Tax_Product_4                     20000 non-null  float64
 28  Product_1_Price_with_Tax          20000 non-null  int64
 29  Product_2_Price_with_Tax          20000 non-null  int64
 30  Product_3_Price_with_Tax          20000 non-null  int64
 31  Product_4_Price_with_Tax          20000 non-null  int64
 32  Amount Excluding Taxes_Product_1  20000 non-null  int64
 33  Sales Tax @ 18%_Product_1         20000 non-null  float64
 34  Amount Including Taxes_Product_1  20000 non-null  float64
 35  Amount Excluding Taxes_Product_2  20000 non-null  int64
 36  Sales Tax @ 18%_Product_2         20000 non-null  float64
 37  Amount Including Taxes_Product_2  20000 non-null  float64
 38  Amount Excluding Taxes_Product_3  20000 non-null  int64
 39  Sales Tax @ 18%_Product_3         20000 non-null  float64
 40  Amount Including Taxes_Product_3  20000 non-null  float64
 41  Amount Excluding Taxes_Product_4  20000 non-null  int64
 42  Sales Tax @ 18%_Product_4         20000 non-null  float64
 43  Amount Including Taxes_Product_4  20000 non-null  float64
 44  Total Amount Excluding Taxes      20000 non-null  int64
 45  Total Sales Tax @ 18%             20000 non-null  float64
 46  Total Amount Including Taxes      20000 non-null  float64
dtypes: float64(14), int64(18), object(15)
memory usage: 7.2+ MB
None

In [6]:
print(df.head())

           NTN                    NAME              S.T.Reg. No  \
0  3.65029E+12  MUHAMMAD BEHZAD ARSHAD  10000-10046-8761-413-23
1   3.7405E+12       MISS FARHAT MALIK  10000-10046-8761-413-23
2  3.73012E+12      MIRZA SHAHBAZ BAIG  10000-10046-8761-413-23
3  3.65029E+12   MUHAMMAD BILAL ARSHAD  10000-10046-8761-413-23
4  3.65017E+12        BABAR HABIB NOON    10000-77-18730-413-23

                Address  Customer_Receipt_NO Customer_NTN  \
0  040-Tando Allah Main              1122916    0000092-2
1  118. Gulshan-E-Iqbal              1181647    0000094-9
2  131-West Wood Colony              1196218    0000098-1
3  145-C Sattelite Town               908244    0000131-7
4  14-Km Ferozpure Road               902983    0000146-5

            Customer_NAME Customer_S.T.Reg. No Customer_Phone Number  \
0             ABDUL MANAN    32-77-8761-413-23             685874327
1         MUNAWAR SULTANA    33-77-8761-413-23             744080328
2           EHSAN SHAFQAT    34-77-8761-413-23             912263285
3  MUHAMMAD ANEES QURESHI    35-77-8761-413-23            3003232696
4          MUHAMMAD AJMAL    36-77-8761-413-23            3005352693

       Customer_Address                  Business Name          Product 1  \
0  145-C Sattelite Town                1 CARAT FASHION    Glitter Threads
1  Wala Colony House 34              1 DOLLAR 2 DOLLAR     Budget Binders
2  Apt-906 Rehman Tower  1 DOLLAR 2 DOLLAR,Ali Traders  Affordably Bright
3  37-C P. O Box. 20021                  1 DOLLAR SHOP          Quick Fix
4  205 Muhammadia Plaza          1 Dollar Shoping Mall          DealsWrap

            Product 2          Product 3            Product 4        Date  \
0       Silk Stitches    Sparkle Threads         Beaded Silks  12-05-2020
1  Affordably Printed  Quick Copies Plus        Value Stapled  24-02-2018
2         Value Binds       Pixel Prints  Budget Bind & Print  04-05-2022
3          Value Pack     Budget Staples         Dollar Deals  12-01-2021
4           BudgetBox         PennyPicks        QuickDealsHub  16-08-2023

   Quantity_Product_1  Quantity_Product_2  Quantity_Product_3  \
0                  25                  48                  33
1                  57                  15                  71
2                  93                  11                  46
3                   2                  53                  54
4                  79                  51                  47

   Quantity_Product_4  Rate_Product_1  Rate_Product_2  Rate_Product_3  \
0                  93              76              90              62
1                  55              92              96              32
2                  36              49              63              74
3                  33              34              23              59
4                  61              78              81              97

   Rate_Product_4  Tax_Product_1  Tax_Product_2  Tax_Product_3  Tax_Product_4  \
0              53       0.069241       0.159266       0.161319       0.083234
1              34       0.123329       0.099804       0.117363       0.070858
2              64       0.161559       0.171646       0.061918       0.160254
3              88       0.167992       0.161236       0.130562       0.089058
4              94       0.050586       0.098878       0.192663       0.178826

   Product_1_Price_with_Tax  Product_2_Price_with_Tax  \
0                        81                       104
1                       103                       106
2                        57                        74
3                        40                        27
4                        82                        89

   Product_3_Price_with_Tax  Product_4_Price_with_Tax  \
0                        72                        57
1                        36                        36
2                        79                        74
3                        67                        96
4                       116                       111

   Amount Excluding Taxes_Product_1  Sales Tax @ 18%_Product_1  \
0                              1900                     342.00
1                              5244                     943.92
2                              4557                     820.26
3                                68                      12.24
4                              6162                    1109.16

   Amount Including Taxes_Product_1  Amount Excluding Taxes_Product_2  \
0                           2242.00                              4320
1                           6187.92                              1440
2                           5377.26                               693
3                             80.24                              1219
4                           7271.16                              4131

   Sales Tax @ 18%_Product_2  Amount Including Taxes_Product_2  \
0                     777.60                           5097.60
1                     259.20                           1699.20
2                     124.74                            817.74
3                     219.42                           1438.42
4                     743.58                           4874.58

   Amount Excluding Taxes_Product_3  Sales Tax @ 18%_Product_3  \
0                              2046                     368.28
1                              2272                     408.96
2                              3404                     612.72
3                              3186                     573.48
4                              4559                     820.62

   Amount Including Taxes_Product_3  Amount Excluding Taxes_Product_4  \
0                           2414.28                              4929
1                           2680.96                              1870
2                           4016.72                              2304
3                           3759.48                              2904
4                           5379.62                              5734

   Sales Tax @ 18%_Product_4  Amount Including Taxes_Product_4  \
0                     887.22                           5816.22
1                     336.60                           2206.60
2                     414.72                           2718.72
3                     522.72                           3426.72
4                    1032.12                           6766.12

   Total Amount Excluding Taxes  Total Sales Tax @ 18%  \
0                         13195                2375.10
1                         10826                1948.68
2                         10958                1972.44
3                          7377                1327.86
4                         20586                3705.48

   Total Amount Including Taxes
0                      15570.10
1                      12774.68
2                      12930.44
3                       8704.86
4                      24291.48

In [7]:
df.nunique()

NTN                                   249
NAME                                13390
S.T.Reg. No                          5550
Address                              2179
Customer_Receipt_NO                 20000
Customer_NTN                        20000
Customer_NAME                       11542
Customer_S.T.Reg. No                20000
Customer_Phone Number                 245
Customer_Address                     4432
Business Name                       20000
Product 1                           13722
Product 2                           16691
Product 3                           17597
Product 4                           18248
Date                                 2192
Quantity_Product_1                    100
Quantity_Product_2                    100
Quantity_Product_3                    100
Quantity_Product_4                    100
Rate_Product_1                         91
Rate_Product_2                         91
Rate_Product_3                         91
Rate_Product_4                         91
Tax_Product_1                       19999
Tax_Product_2                       20000
Tax_Product_3                       19998
Tax_Product_4                       19999
Product_1_Price_with_Tax              110
Product_2_Price_with_Tax              110
Product_3_Price_with_Tax              110
Product_4_Price_with_Tax              110
Amount Excluding Taxes_Product_1     2856
Sales Tax @ 18%_Product_1            2856
Amount Including Taxes_Product_1     2856
Amount Excluding Taxes_Product_2     2837
Sales Tax @ 18%_Product_2            2837
Amount Including Taxes_Product_2     2837
Amount Excluding Taxes_Product_3     2850
Sales Tax @ 18%_Product_3            2850
Amount Including Taxes_Product_3     2850
Amount Excluding Taxes_Product_4     2859
Sales Tax @ 18%_Product_4            2859
Amount Including Taxes_Product_4     2859
Total Amount Excluding Taxes        11653
Total Sales Tax @ 18%               11653
Total Amount Including Taxes        11653
dtype: int64

In [8]:
# Check missing values
missing_values = df.isnull().sum()
print("\nMissing Values:\n", missing_values[missing_values > 0])

Missing Values:
 NAME              4
Customer_NAME     1
Product 1        15
Product 2         3
Product 3         4
Product 4         5
dtype: int64

In [9]:
### Fill Missing Values for NAME and Customer_NAME with "Unknown"
df['NAME'].fillna("Unknown", inplace=True)
df['Customer_NAME'].fillna("Unknown", inplace=True)

In [10]:
# Check missing values
missing_values = df.isnull().sum()
print("\nMissing Values:\n", missing_values[missing_values > 0])

Missing Values:
 Product 1    15
Product 2     3
Product 3     4
Product 4     5
dtype: int64

In [11]:
missing_percentage = (df.isnull().sum() / len(df)) * 100
print(missing_percentage)

NTN                                 0.000
NAME                                0.000
S.T.Reg. No                         0.000
Address                             0.000
Customer_Receipt_NO                 0.000
Customer_NTN                        0.000
Customer_NAME                       0.000
Customer_S.T.Reg. No                0.000
Customer_Phone Number               0.000
Customer_Address                    0.000
Business Name                       0.000
Product 1                           0.075
Product 2                           0.015
Product 3                           0.020
Product 4                           0.025
Date                                0.000
Quantity_Product_1                  0.000
Quantity_Product_2                  0.000
Quantity_Product_3                  0.000
Quantity_Product_4                  0.000
Rate_Product_1                      0.000
Rate_Product_2                      0.000
Rate_Product_3                      0.000
Rate_Product_4                      0.000
Tax_Product_1                       0.000
Tax_Product_2                       0.000
Tax_Product_3                       0.000
Tax_Product_4                       0.000
Product_1_Price_with_Tax            0.000
Product_2_Price_with_Tax            0.000
Product_3_Price_with_Tax            0.000
Product_4_Price_with_Tax            0.000
Amount Excluding Taxes_Product_1    0.000
Sales Tax @ 18%_Product_1           0.000
Amount Including Taxes_Product_1    0.000
Amount Excluding Taxes_Product_2    0.000
Sales Tax @ 18%_Product_2           0.000
Amount Including Taxes_Product_2    0.000
Amount Excluding Taxes_Product_3    0.000
Sales Tax @ 18%_Product_3           0.000
Amount Including Taxes_Product_3    0.000
Amount Excluding Taxes_Product_4    0.000
Sales Tax @ 18%_Product_4           0.000
Amount Including Taxes_Product_4    0.000
Total Amount Excluding Taxes        0.000
Total Sales Tax @ 18%               0.000
Total Amount Including Taxes        0.000
dtype: float64

In [12]:
## imputing product 1,2,3,4 with mode since they are categorical
df['Product 1'].fillna(df['Product 1'].mode()[0], inplace=True)
df['Product 2'].fillna(df['Product 1'].mode()[0], inplace=True)
df['Product 3'].fillna(df['Product 1'].mode()[0], inplace=True)
df['Product 4'].fillna(df['Product 1'].mode()[0], inplace=True)

In [13]:
# Check missing values
missing_values = df.isnull().sum()
print("\nMissing Values:\n", missing_values[missing_values > 0])

Missing Values:
 Series([], dtype: int64)

In [14]:
print(df.isnull().sum())

NTN                                 0
NAME                                0
S.T.Reg. No                         0
Address                             0
Customer_Receipt_NO                 0
Customer_NTN                        0
Customer_NAME                       0
Customer_S.T.Reg. No                0
Customer_Phone Number               0
Customer_Address                    0
Business Name                       0
Product 1                           0
Product 2                           0
Product 3                           0
Product 4                           0
Date                                0
Quantity_Product_1                  0
Quantity_Product_2                  0
Quantity_Product_3                  0
Quantity_Product_4                  0
Rate_Product_1                      0
Rate_Product_2                      0
Rate_Product_3                      0
Rate_Product_4                      0
Tax_Product_1                       0
Tax_Product_2                       0
Tax_Product_3                       0
Tax_Product_4                       0
Product_1_Price_with_Tax            0
Product_2_Price_with_Tax            0
Product_3_Price_with_Tax            0
Product_4_Price_with_Tax            0
Amount Excluding Taxes_Product_1    0
Sales Tax @ 18%_Product_1           0
Amount Including Taxes_Product_1    0
Amount Excluding Taxes_Product_2    0
Sales Tax @ 18%_Product_2           0
Amount Including Taxes_Product_2    0
Amount Excluding Taxes_Product_3    0
Sales Tax @ 18%_Product_3           0
Amount Including Taxes_Product_3    0
Amount Excluding Taxes_Product_4    0
Sales Tax @ 18%_Product_4           0
Amount Including Taxes_Product_4    0
Total Amount Excluding Taxes        0
Total Sales Tax @ 18%               0
Total Amount Including Taxes        0
dtype: int64

In [15]:
# Check for duplicates
duplicates = df.duplicated().sum()
print("\nNumber of Duplicate Rows:", duplicates)

Number of Duplicate Rows: 0

In [16]:
print(df.dtypes)

NTN                                  object
NAME                                 object
S.T.Reg. No                          object
Address                              object
Customer_Receipt_NO                   int64
Customer_NTN                         object
Customer_NAME                        object
Customer_S.T.Reg. No                 object
Customer_Phone Number                object
Customer_Address                     object
Business Name                        object
Product 1                            object
Product 2                            object
Product 3                            object
Product 4                            object
Date                                 object
Quantity_Product_1                    int64
Quantity_Product_2                    int64
Quantity_Product_3                    int64
Quantity_Product_4                    int64
Rate_Product_1                        int64
Rate_Product_2                        int64
Rate_Product_3                        int64
Rate_Product_4                        int64
Tax_Product_1                       float64
Tax_Product_2                       float64
Tax_Product_3                       float64
Tax_Product_4                       float64
Product_1_Price_with_Tax              int64
Product_2_Price_with_Tax              int64
Product_3_Price_with_Tax              int64
Product_4_Price_with_Tax              int64
Amount Excluding Taxes_Product_1      int64
Sales Tax @ 18%_Product_1           float64
Amount Including Taxes_Product_1    float64
Amount Excluding Taxes_Product_2      int64
Sales Tax @ 18%_Product_2           float64
Amount Including Taxes_Product_2    float64
Amount Excluding Taxes_Product_3      int64
Sales Tax @ 18%_Product_3           float64
Amount Including Taxes_Product_3    float64
Amount Excluding Taxes_Product_4      int64
Sales Tax @ 18%_Product_4           float64
Amount Including Taxes_Product_4    float64
Total Amount Excluding Taxes          int64
Total Sales Tax @ 18%               float64
Total Amount Including Taxes        float64
dtype: object

In [17]:
df.shape

(20000, 47)

In [18]:
invalid_dates = df[~df['Date'].str.match(r'^\d{4}-\d{2}-\d{2}$', na=False)]
print(invalid_dates['Date'].unique())

['12-05-2020' '24-02-2018' '04-05-2022' ... '25-04-2023' '24-10-2023'
 '31-12-2018']

In [19]:
## convert date into datetime format
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y', errors='coerce')

In [20]:
# Check missing values
missing_values = df.isnull().sum()
print("\nMissing Values:\n", missing_values[missing_values > 0])

Missing Values:
 Series([], dtype: int64)

In [21]:
for col in ['Product 1', 'Product 2', 'Product 3', 'Product 4']:
    print(f"{col}: {df[col].nunique()} unique values")

Product 1: 13722 unique values
Product 2: 16691 unique values
Product 3: 17597 unique values
Product 4: 18248 unique values

In [22]:
## none of them are categorical because they have many unique values so they are object data type

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 47 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   NTN                               20000 non-null  object
 1   NAME                              20000 non-null  object
 2   S.T.Reg. No                       20000 non-null  object
 3   Address                           20000 non-null  object
 4   Customer_Receipt_NO               20000 non-null  int64
 5   Customer_NTN                      20000 non-null  object
 6   Customer_NAME                     20000 non-null  object
 7   Customer_S.T.Reg. No              20000 non-null  object
 8   Customer_Phone Number             20000 non-null  object
 9   Customer_Address                  20000 non-null  object
 10  Business Name                     20000 non-null  object
 11  Product 1                         20000 non-null  object
 12  Product 2                         20000 non-null  object
 13  Product 3                         20000 non-null  object
 14  Product 4                         20000 non-null  object
 15  Date                              20000 non-null  datetime64[ns]
 16  Quantity_Product_1                20000 non-null  int64
 17  Quantity_Product_2                20000 non-null  int64
 18  Quantity_Product_3                20000 non-null  int64
 19  Quantity_Product_4                20000 non-null  int64
 20  Rate_Product_1                    20000 non-null  int64
 21  Rate_Product_2                    20000 non-null  int64
 22  Rate_Product_3                    20000 non-null  int64
 23  Rate_Product_4                    20000 non-null  int64
 24  Tax_Product_1                     20000 non-null  float64
 25  Tax_Product_2                     20000 non-null  float64
 26  Tax_Product_3                     20000 non-null  float64
 27  Tax_Product_4                     20000 non-null  float64
 28  Product_1_Price_with_Tax          20000 non-null  int64
 29  Product_2_Price_with_Tax          20000 non-null  int64
 30  Product_3_Price_with_Tax          20000 non-null  int64
 31  Product_4_Price_with_Tax          20000 non-null  int64
 32  Amount Excluding Taxes_Product_1  20000 non-null  int64
 33  Sales Tax @ 18%_Product_1         20000 non-null  float64
 34  Amount Including Taxes_Product_1  20000 non-null  float64
 35  Amount Excluding Taxes_Product_2  20000 non-null  int64
 36  Sales Tax @ 18%_Product_2         20000 non-null  float64
 37  Amount Including Taxes_Product_2  20000 non-null  float64
 38  Amount Excluding Taxes_Product_3  20000 non-null  int64
 39  Sales Tax @ 18%_Product_3         20000 non-null  float64
 40  Amount Including Taxes_Product_3  20000 non-null  float64
 41  Amount Excluding Taxes_Product_4  20000 non-null  int64
 42  Sales Tax @ 18%_Product_4         20000 non-null  float64
 43  Amount Including Taxes_Product_4  20000 non-null  float64
 44  Total Amount Excluding Taxes      20000 non-null  int64
 45  Total Sales Tax @ 18%             20000 non-null  float64
 46  Total Amount Including Taxes      20000 non-null  float64
dtypes: datetime64[ns](1), float64(14), int64(18), object(14)
memory usage: 7.2+ MB

In [24]:
# Get unique phone numbers
unique_numbers = df['Customer_Phone Number'].unique()
print(unique_numbers)

['685874327' '744080328' '912263285' '3003232696' '3005352693'
 '3005425095' '3006507842' '3006702232' '3006703728' '3007132850'
 '3007145237' '3036661815' '3041920704' '3139413513' '3212308603'
 '3215396330' '3217238116' '3218009090' '3218554982' '3233115377'
 '3312485350' '3312485632' '3312485716' '3312485913' '3330311460'
 '3330311941' '3331413209' '3334075050' '3335595945' '3335829062'
 '3337501235' '3338519134' '3338662689' '3338710588' '3362631415'
 '3362631665' '3425976131' '3427457827' '3432070901' '3455703494'
 '3468221382' '9.23E+11' '(00078302)  ,   03156152778'
 '(0016937  ,   03008557771' '(0321 8740895  ,   0322-7474038)'
 '(0345) 3702091' '(0459) 230840' '(0459) 230840  ,   03006080569'
 '(048) 6889210-12' '(055) 3732713 0321-6407019'
 '(057-2701515) 0334-5522661' '(05827)432803-5 434297-99 ' '(068) 5701954'
 '(641539)  ,   03436900328  ,   923343528442' '+92) 03356987050'
 '+92) 297) 830284' '+923005636483)  ,   92 (300) 5636483'
 '+92-68-5705372 0300-6727353' '0092 346 1112955  ,   0092 723 661500'
 '0092-052-3558614 - 3559068  ,   0092 - 321- 8618440'
 '021-3522130 0321-9224046' '0300 7680765'
 '0300 7680765  ,   0310 2999822' '0300- 8378999' '0300 8655046'
 '0300-3221322' '0300-3271161' '0300-3416827' '0300-4144154 0345-2030119'
 '0300-5332628' '0300-5574109' '0300-5588073' '0300-57204668'
 '0300-5905733' '0300-6002442' '0300-6383763' '0300-6425689'
 '0300-6494174' '0300-6501977' '0300-6726608' '0300-6755448 0303-0181897'
 '0300-6807721' '0300-6931899' '0300-7654676'
 '0300-7775777  ,   0237-2611776  ,   067-2610888  ,   057-2541246'
 '0300-8123301' '0300-8338662' '0300-8338662  ,   0938- 273442'
 '0300-8371135' '0300-8372255  ,   0222-765558' '0300-8731147'
 '0300-9373932' '0300-9380445 081-2844424  ,   0321-9243925'
 '0300-9673427-042-35226175' '0301 6476126' '0301-2196727' '0301-3488600'
 '0301-3950406' '0301-6240883  ,   0321-6219258'
 '0301-6240883 0321-6219258' '0301-7513863'
 '0301-7527633  ,   0301-6587487' '0301-7527633 0301-6587487'
 '0301-7648007' '0301-8664130' '0301-8673636  ,   0300-5705970'
 '0302-2984325' '0302-8460425' '03033593194  ,   0723-6615141'
 '0303-7163423  ,   0332-4004459' '0305 5187953' '0305-4442095'
 '0305-5036584' '0306-3456501' '0311-8798550' '0312-4597937'
 '0312-7448008' '0312-9086360' '0313 5519234' '0313-6284964'
 '0313-7096385' '0313-7993379' '0314-2857033'
 '0320-1210733  ,   0322-8330366' '0320-1212686' '0320-6706128'
 '0321 -7306639' '032130- 004777' '0321-3001120  ,   022-2728179'
 '0321-3155558' '0321-4848157' '0321-5566751-0302-5452727'
 '0321-6229800 0335-9629844' '0321-6431051 0301-8262934' '0321-6443595'
 '0321-6777201 03459777201' '0321-8205742' '0321-8711155' '0322-9086304'
 '0323-4899345' '03312485633  ,   03003691022'
 '0331-2870610  ,   0513-598109' '0332 4816388' '0332-5399124'
 '0333 260988' '0333 2609884)' '03330239101  ,   03328359279'
 '03330311277  ,   03156711136' '0333-3991121' '0333-4300000'
 '03335457413  ,   058-27444144' '0333-5525323' '0333-6923612'
 '0333-7234135  ,   0333-7234135' '0333-7586202' '0333-8121422'
 '0333-8486080' '0333-9134807' '0333-9962164' '0334 5901325'
 '0334-3434864' '0334-4437992  ,   0331-3683849' '0334-7055315'
 '0334-9664399' '0336-2131803' '0340-3629604'
 '0342-1738514  ,   0342-1738514' '0342-6298096' '0343-2163392'
 '0344-1919964' '0345-5656754  ,   0320-1212644' '0345-7222740'
 '0345-8000520' '0345-8530171' '0346275510  ,   650404'
 '0346-8484482- 0334-9665745  ,   05815-452648'
 '0346-8484482-0334-9665745  ,   05815-452648' '0347-3273070'
 '03493300239  ,   03458248272' '0486 -3007737  ,   0486-310965'
 '048-6311220' '0486-6007737  ,   0486-310965' '049-34540068-70'
 '051- 3590541-6' '051-3412264  ,   0334-5355397' '051-359 060'
 '052 3255151' '053-3643331' '053-3700129  ,   0332-4885888'
 '055-3205822  ,   0300-6488837' '055-3254040  ,   0301-6632007'
 '055-3732713' '055-4223935  ,   0300-8641330' '055-427050'
 '055-4272484  ,   0301-8425560' '056-3700069-35491'
 '057-2611776  ,   0657-2610888  ,   0300-8522322  ,   057-2541246'
 '057-2701515' '057-2701802  ,   0334-5522661' '05827-432803'
 '05827-451501-3' '058610-32803- 32804' '061 6784900  ,   03312870582'
 '061-4556508 061-6353025' '061-6221027' '0623-2250975  ,   '
 '063-2272488'
 '068-570228  ,   0300-8672967  ,   0300-8912646  ,   068-570228  ,   0300-8672967  ,   0300-8912646'
 '068-5709467 03017664607' '068-5955844' '07156-32330' '0723-652301-16'
 '0723-661490' '081 - 2821664  ,   2821229' '091-2214377' '0937-870260'
 '093-8221581-0 4-5375860' '093-82215810334-0334-5375860'
 '0938-272005  ,   0307-5927885' '0938-273442  ,   0314-5144860'
 '0938-490166  ,   0345-9289030' '0946-730493-94' '0997-430081-84'
 '100004706  ,   03453587698' '100004861  ,   03453654363'
 '113273  ,   0302-8946833' '144136  ,   0300-6701429'
 '190023  ,   03218009090' '3312485633 3312435633 3'
 '4501390591  ,   03324880335  ,   (03325578558)'
 '4501390591  ,   10100247-01  ,   0302-6533929'
 '4501390591  ,   10131578-01  ,   0307-7613610  ,   (0333-0319437)'
 '4501390591  ,   10149922-0  ,   0345-2624896  ,   92330319418'
 '4501404958  ,   10100431-03  ,   0334-2820932  ,   (0333-2706315)'
 '4501425100  ,   10140335  ,   03342231474  ,   (03332706416)'
 '622658  ,   03331040950  ,   03328197764'
 '880583)  ,   055-6602072  ,   0306-7861111'
 '92 (300) 531712232  ,   92 (300) 5317122'
 '92 (554) 557020  ,   92 (335) 0666645' '92 061 4782236-8'
 '92 3009618938' '92(554) 557020  ,   92 (335) 0666645'
 '9225566-90992231-90996230' '923325387492  ,   923325337496'
 '92347349 707']

In [25]:
# as phone number is not crucial lets drop the column

In [26]:
df= df.drop(columns=['Customer_Phone Number'])

In [27]:
df

,NTN,NAME,S.T.Reg. No,Address,Customer_Receipt_NO,Customer_NTN,Customer_NAME,Customer_S.T.Reg. No,Customer_Address,Business Name,Product 1,Product 2,Product 3,Product 4,Date,Quantity_Product_1,Quantity_Product_2,Quantity_Product_3,Quantity_Product_4,Rate_Product_1,Rate_Product_2,Rate_Product_3,Rate_Product_4,Tax_Product_1,Tax_Product_2,Tax_Product_3,Tax_Product_4,Product_1_Price_with_Tax,Product_2_Price_with_Tax,Product_3_Price_with_Tax,Product_4_Price_with_Tax,Amount Excluding Taxes_Product_1,Sales Tax @ 18%_Product_1,Amount Including Taxes_Product_1,Amount Excluding Taxes_Product_2,Sales Tax @ 18%_Product_2,Amount Including Taxes_Product_2,Amount Excluding Taxes_Product_3,Sales Tax @ 18%_Product_3,Amount Including Taxes_Product_3,Amount Excluding Taxes_Product_4,Sales Tax @ 18%_Product_4,Amount Including Taxes_Product_4,Total Amount Excluding Taxes,Total Sales Tax @ 18%,Total Amount Including Taxes
0,3.65029E+12,MUHAMMAD BEHZAD ARSHAD,10000-10046-8761-413-23,040-Tando Allah Main,1122916,0000092-2,ABDUL MANAN,32-77-8761-413-23,145-C Sattelite Town,1 CARAT FASHION,Glitter Threads,Silk Stitches,Sparkle Threads,Beaded Silks,2020-05-12,25,48,33,93,76,90,62,53,0.069241,0.159266,0.161319,0.083234,81,104,72,57,1900,342.00,2242.00,4320,777.60,5097.60,2046,368.28,2414.28,4929,887.22,5816.22,13195,2375.10,15570.10
1,3.7405E+12,MISS FARHAT MALIK,10000-10046-8761-413-23,118. Gulshan-E-Iqbal,1181647,0000094-9,MUNAWAR SULTANA,33-77-8761-413-23,Wala Colony House 34,1 DOLLAR 2 DOLLAR,Budget Binders,Affordably Printed,Quick Copies Plus,Value Stapled,2018-02-24,57,15,71,55,92,96,32,34,0.123329,0.099804,0.117363,0.070858,103,106,36,36,5244,943.92,6187.92,1440,259.20,1699.20,2272,408.96,2680.96,1870,336.60,2206.60,10826,1948.68,12774.68
2,3.73012E+12,MIRZA SHAHBAZ BAIG,10000-10046-8761-413-23,131-West Wood Colony,1196218,0000098-1,EHSAN SHAFQAT,34-77-8761-413-23,Apt-906 Rehman Tower,"1 DOLLAR 2 DOLLAR,Ali Traders",Affordably Bright,Value Binds,Pixel Prints,Budget Bind & Print,2022-05-04,93,11,46,36,49,63,74,64,0.161559,0.171646,0.061918,0.160254,57,74,79,74,4557,820.26,5377.26,693,124.74,817.74,3404,612.72,4016.72,2304,414.72,2718.72,10958,1972.44,12930.44
3,3.65029E+12,MUHAMMAD BILAL ARSHAD,10000-10046-8761-413-23,145-C Sattelite Town,908244,0000131-7,MUHAMMAD ANEES QURESHI,35-77-8761-413-23,37-C P. O Box. 20021,1 DOLLAR SHOP,Quick Fix,Value Pack,Budget Staples,Dollar Deals,2021-01-12,2,53,54,33,34,23,59,88,0.167992,0.161236,0.130562,0.089058,40,27,67,96,68,12.24,80.24,1219,219.42,1438.42,3186,573.48,3759.48,2904,522.72,3426.72,7377,1327.86,8704.86
4,3.65017E+12,BABAR HABIB NOON,10000-77-18730-413-23,14-Km Ferozpure Road,902983,0000146-5,MUHAMMAD AJMAL,36-77-8761-413-23,205 Muhammadia Plaza,1 Dollar Shoping Mall,DealsWrap,BudgetBox,PennyPicks,QuickDealsHub,2023-08-16,79,51,47,61,78,81,97,94,0.050586,0.098878,0.192663,0.178826,82,89,116,111,6162,1109.16,7271.16,4131,743.58,4874.58,4559,820.62,5379.62,5734,1032.12,6766.12,20586,3705.48,24291.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,3.64028E+12,HAROON,10942-77-8761-413-23,M-54-B/1 Khayaban-E-Ittehad,1086618,4020198-8,KASHIF RAZA,7805-7851-8761-413-23,House 304 Street Number 05/2 Sec-16 Gulshan E ...,City Care Hospital,Vital Pulse Hub,CareConnect CareKit,HealthHaven Solutions,WellnessWaves Therapy,2018-10-17,84,44,95,93,86,10,59,92,0.137138,0.072146,0.162181,0.095791,98,11,69,101,7224,1300.32,8524.32,440,79.20,519.20,5605,1008.90,6613.90,8556,1540.08,10096.08,21825,3928.50,25753.50
19996,3.66032E+12,FARID AHMAD,10942-77-8761-413-23,Mohallah Abkary Ghazi Khel.,1080206,4020335-2,ASIMA HAFEEZ,7806-7852-8761-413-23,House 439 R-S 82/83 Tando Ghulam Hussain Unit ...,"CITY CARS,CITY CARS",Urban Drive Elite,City Speedways,Metro Motion Wheels,Urban Transit Hub,2023-12-03,6,98,29,90,38,60,14,56,0.093914,0.095764,0.191731,0.058414,42,66,17,59,228,41.04,269.04,5880,1058.40,6938.40,406,73.08,479.08,5040,907.20,5947.20,11554,2079.72,13633.72
19997,3.64022E+12,MUHAMMAD AHMAD,10943-10989-8761-413-23,Navy Housing Scheme Nhq E-8,974470,4020558-4,GHULAM MUSTAFA,7807-7853-8761-413-23,Plot A/8/F/1 Sindh Industrial Trading Eastate ...,"CITY CASH AND CARRY JHANG ROAD, FAISALABAD ,Ma...",Urban Inventory Hub,MegaMart Produce Bundle,CashCloset Essentials,JhangRoad Wholesale Hub,2021-11-28,46,54,58,33,55,98,17,68,0.189716,0.073175,0.144914,0.063050,65,105,19,72,2530,455.40,2985.40,5292,952.56,6244.56,986,177.48,1163.48,2244,403.92,2647.92,11052,1989.36,13041.36
19998,3.6601E+12,ZAHID IQBAL,10943-10989-8761-413-23,Ntn/Cnic : Address : 11-F-2,972446,4020628-9,AMTAL HAFEEZ,7808-7854-8761-413-23,Chairman Department Of Economics Quaid-I-Azam ...,"CITY CASH CARRY,CITY CASH CARRY",Swift Transfer Hub,Cash Express Hub,Rapid Flow Wallet,Urban Cash Vault,2019-11-30,24,98,16,72,25,80,51,71,0.105777,0.057241,0.082757,0.193569,28,85,55,85,600,108.00,708.00,7840,1411.20,9251.20,816,146.88,962.88,5112,920.16,6032.16,14368,2586.24,16954.24
19999,3.66037E+12,SYED AJMAL HUSSAIN SHAH,10943-10989-8761-413-23,Pharmacy 152/G-1 Canal Bank,988064,4020631-9,AMTUL HAFEEZ,7809-7855-8761-413-23,Address : House-A Street 30 Sector F 8/1 Islab...,CITY CHAMICAL LAB,EcoSync Refills,Urban Vitality Serum,CityClear Solutions,Metrix Pulse Tech,2023-01-18,14,34,64,55,53,67,90,22,0.198881,0.109134,0.059274,0.172336,64,74,95,26,742,133.56,875.56,2278,410.04,2688.04,5760,1036.80,6796.80,1210,217.80,1427.80,9990,1798.20,11788.20

In [28]:
df.nunique()

NTN                                   249
NAME                                13391
S.T.Reg. No                          5550
Address                              2179
Customer_Receipt_NO                 20000
Customer_NTN                        20000
Customer_NAME                       11543
Customer_S.T.Reg. No                20000
Customer_Address                     4432
Business Name                       20000
Product 1                           13722
Product 2                           16691
Product 3                           17597
Product 4                           18248
Date                                 2192
Quantity_Product_1                    100
Quantity_Product_2                    100
Quantity_Product_3                    100
Quantity_Product_4                    100
Rate_Product_1                         91
Rate_Product_2                         91
Rate_Product_3                         91
Rate_Product_4                         91
Tax_Product_1                       19999
Tax_Product_2                       20000
Tax_Product_3                       19998
Tax_Product_4                       19999
Product_1_Price_with_Tax              110
Product_2_Price_with_Tax              110
Product_3_Price_with_Tax              110
Product_4_Price_with_Tax              110
Amount Excluding Taxes_Product_1     2856
Sales Tax @ 18%_Product_1            2856
Amount Including Taxes_Product_1     2856
Amount Excluding Taxes_Product_2     2837
Sales Tax @ 18%_Product_2            2837
Amount Including Taxes_Product_2     2837
Amount Excluding Taxes_Product_3     2850
Sales Tax @ 18%_Product_3            2850
Amount Including Taxes_Product_3     2850
Amount Excluding Taxes_Product_4     2859
Sales Tax @ 18%_Product_4            2859
Amount Including Taxes_Product_4     2859
Total Amount Excluding Taxes        11653
Total Sales Tax @ 18%               11653
Total Amount Including Taxes        11653
dtype: int64

In [29]:
df.shape

(20000, 46)

In [30]:
print(df.dtypes)

NTN                                         object
NAME                                        object
S.T.Reg. No                                 object
Address                                     object
Customer_Receipt_NO                          int64
Customer_NTN                                object
Customer_NAME                               object
Customer_S.T.Reg. No                        object
Customer_Address                            object
Business Name                               object
Product 1                                   object
Product 2                                   object
Product 3                                   object
Product 4                                   object
Date                                datetime64[ns]
Quantity_Product_1                           int64
Quantity_Product_2                           int64
Quantity_Product_3                           int64
Quantity_Product_4                           int64
Rate_Product_1                               int64
Rate_Product_2                               int64
Rate_Product_3                               int64
Rate_Product_4                               int64
Tax_Product_1                              float64
Tax_Product_2                              float64
Tax_Product_3                              float64
Tax_Product_4                              float64
Product_1_Price_with_Tax                     int64
Product_2_Price_with_Tax                     int64
Product_3_Price_with_Tax                     int64
Product_4_Price_with_Tax                     int64
Amount Excluding Taxes_Product_1             int64
Sales Tax @ 18%_Product_1                  float64
Amount Including Taxes_Product_1           float64
Amount Excluding Taxes_Product_2             int64
Sales Tax @ 18%_Product_2                  float64
Amount Including Taxes_Product_2           float64
Amount Excluding Taxes_Product_3             int64
Sales Tax @ 18%_Product_3                  float64
Amount Including Taxes_Product_3           float64
Amount Excluding Taxes_Product_4             int64
Sales Tax @ 18%_Product_4                  float64
Amount Including Taxes_Product_4           float64
Total Amount Excluding Taxes                 int64
Total Sales Tax @ 18%                      float64
Total Amount Including Taxes               float64
dtype: object

In [31]:
df.rename(columns={
    'NAME': 'Seller_Name',
    'NTN': 'Seller_NTN',
    'S.T.Reg. No': 'Seller_S.T.Reg.No',
    'Customer_S.T.Reg. No': 'Customer_Tax_ID',
    'Business Name': 'Customer_Business',
    'Address': 'Seller_Address'
}, inplace=True)

In [32]:
df['Seller_NTN'] = df['Seller_NTN'].astype(str)
df['Customer_NTN'] = df['Customer_NTN'].astype(str)

In [33]:
df.head()

,Seller_NTN,Seller_Name,Seller_S.T.Reg.No,Seller_Address,Customer_Receipt_NO,Customer_NTN,Customer_NAME,Customer_Tax_ID,Customer_Address,Customer_Business,Product 1,Product 2,Product 3,Product 4,Date,Quantity_Product_1,Quantity_Product_2,Quantity_Product_3,Quantity_Product_4,Rate_Product_1,Rate_Product_2,Rate_Product_3,Rate_Product_4,Tax_Product_1,Tax_Product_2,Tax_Product_3,Tax_Product_4,Product_1_Price_with_Tax,Product_2_Price_with_Tax,Product_3_Price_with_Tax,Product_4_Price_with_Tax,Amount Excluding Taxes_Product_1,Sales Tax @ 18%_Product_1,Amount Including Taxes_Product_1,Amount Excluding Taxes_Product_2,Sales Tax @ 18%_Product_2,Amount Including Taxes_Product_2,Amount Excluding Taxes_Product_3,Sales Tax @ 18%_Product_3,Amount Including Taxes_Product_3,Amount Excluding Taxes_Product_4,Sales Tax @ 18%_Product_4,Amount Including Taxes_Product_4,Total Amount Excluding Taxes,Total Sales Tax @ 18%,Total Amount Including Taxes
0,3.65029E+12,MUHAMMAD BEHZAD ARSHAD,10000-10046-8761-413-23,040-Tando Allah Main,1122916,0000092-2,ABDUL MANAN,32-77-8761-413-23,145-C Sattelite Town,1 CARAT FASHION,Glitter Threads,Silk Stitches,Sparkle Threads,Beaded Silks,2020-05-12,25,48,33,93,76,90,62,53,0.069241,0.159266,0.161319,0.083234,81,104,72,57,1900,342.00,2242.00,4320,777.60,5097.60,2046,368.28,2414.28,4929,887.22,5816.22,13195,2375.10,15570.10
1,3.7405E+12,MISS FARHAT MALIK,10000-10046-8761-413-23,118. Gulshan-E-Iqbal,1181647,0000094-9,MUNAWAR SULTANA,33-77-8761-413-23,Wala Colony House 34,1 DOLLAR 2 DOLLAR,Budget Binders,Affordably Printed,Quick Copies Plus,Value Stapled,2018-02-24,57,15,71,55,92,96,32,34,0.123329,0.099804,0.117363,0.070858,103,106,36,36,5244,943.92,6187.92,1440,259.20,1699.20,2272,408.96,2680.96,1870,336.60,2206.60,10826,1948.68,12774.68
2,3.73012E+12,MIRZA SHAHBAZ BAIG,10000-10046-8761-413-23,131-West Wood Colony,1196218,0000098-1,EHSAN SHAFQAT,34-77-8761-413-23,Apt-906 Rehman Tower,"1 DOLLAR 2 DOLLAR,Ali Traders",Affordably Bright,Value Binds,Pixel Prints,Budget Bind & Print,2022-05-04,93,11,46,36,49,63,74,64,0.161559,0.171646,0.061918,0.160254,57,74,79,74,4557,820.26,5377.26,693,124.74,817.74,3404,612.72,4016.72,2304,414.72,2718.72,10958,1972.44,12930.44
3,3.65029E+12,MUHAMMAD BILAL ARSHAD,10000-10046-8761-413-23,145-C Sattelite Town,908244,0000131-7,MUHAMMAD ANEES QURESHI,35-77-8761-413-23,37-C P. O Box. 20021,1 DOLLAR SHOP,Quick Fix,Value Pack,Budget Staples,Dollar Deals,2021-01-12,2,53,54,33,34,23,59,88,0.167992,0.161236,0.130562,0.089058,40,27,67,96,68,12.24,80.24,1219,219.42,1438.42,3186,573.48,3759.48,2904,522.72,3426.72,7377,1327.86,8704.86
4,3.65017E+12,BABAR HABIB NOON,10000-77-18730-413-23,14-Km Ferozpure Road,902983,0000146-5,MUHAMMAD AJMAL,36-77-8761-413-23,205 Muhammadia Plaza,1 Dollar Shoping Mall,DealsWrap,BudgetBox,PennyPicks,QuickDealsHub,2023-08-16,79,51,47,61,78,81,97,94,0.050586,0.098878,0.192663,0.178826,82,89,116,111,6162,1109.16,7271.16,4131,743.58,4874.58,4559,820.62,5379.62,5734,1032.12,6766.12,20586,3705.48,24291.48

In [34]:
### handling corrupted values
df['Product 3'].replace({'?? ???': df['Product 3'].mode()[0], '??????': df['Product 3'].mode()[0]}, inplace=True)
df['Product 4'].replace({'?? ??': df['Product 4'].mode()[0], '??????': df['Product 4'].mode()[0]}, inplace=True)

In [35]:
df.to_csv("cleaned_data.csv", index=False)

In [36]:
print(df.isnull().sum())  # Shows count of missing values per column
print(df.isna().sum())    # Alternative way to check

Seller_NTN                          0
Seller_Name                         0
Seller_S.T.Reg.No                   0
Seller_Address                      0
Customer_Receipt_NO                 0
Customer_NTN                        0
Customer_NAME                       0
Customer_Tax_ID                     0
Customer_Address                    0
Customer_Business                   0
Product 1                           0
Product 2                           0
Product 3                           0
Product 4                           0
Date                                0
Quantity_Product_1                  0
Quantity_Product_2                  0
Quantity_Product_3                  0
Quantity_Product_4                  0
Rate_Product_1                      0
Rate_Product_2                      0
Rate_Product_3                      0
Rate_Product_4                      0
Tax_Product_1                       0
Tax_Product_2                       0
Tax_Product_3                       0
Tax_Product_4                       0
Product_1_Price_with_Tax            0
Product_2_Price_with_Tax            0
Product_3_Price_with_Tax            0
Product_4_Price_with_Tax            0
Amount Excluding Taxes_Product_1    0
Sales Tax @ 18%_Product_1           0
Amount Including Taxes_Product_1    0
Amount Excluding Taxes_Product_2    0
Sales Tax @ 18%_Product_2           0
Amount Including Taxes_Product_2    0
Amount Excluding Taxes_Product_3    0
Sales Tax @ 18%_Product_3           0
Amount Including Taxes_Product_3    0
Amount Excluding Taxes_Product_4    0
Sales Tax @ 18%_Product_4           0
Amount Including Taxes_Product_4    0
Total Amount Excluding Taxes        0
Total Sales Tax @ 18%               0
Total Amount Including Taxes        0
dtype: int64
Seller_NTN                          0
Seller_Name                         0
Seller_S.T.Reg.No                   0
Seller_Address                      0
Customer_Receipt_NO                 0
Customer_NTN                        0
Customer_NAME                       0
Customer_Tax_ID                     0
Customer_Address                    0
Customer_Business                   0
Product 1                           0
Product 2                           0
Product 3                           0
Product 4                           0
Date                                0
Quantity_Product_1                  0
Quantity_Product_2                  0
Quantity_Product_3                  0
Quantity_Product_4                  0
Rate_Product_1                      0
Rate_Product_2                      0
Rate_Product_3                      0
Rate_Product_4                      0
Tax_Product_1                       0
Tax_Product_2                       0
Tax_Product_3                       0
Tax_Product_4                       0
Product_1_Price_with_Tax            0
Product_2_Price_with_Tax            0
Product_3_Price_with_Tax            0
Product_4_Price_with_Tax            0
Amount Excluding Taxes_Product_1    0
Sales Tax @ 18%_Product_1           0
Amount Including Taxes_Product_1    0
Amount Excluding Taxes_Product_2    0
Sales Tax @ 18%_Product_2           0
Amount Including Taxes_Product_2    0
Amount Excluding Taxes_Product_3    0
Sales Tax @ 18%_Product_3           0
Amount Including Taxes_Product_3    0
Amount Excluding Taxes_Product_4    0
Sales Tax @ 18%_Product_4           0
Amount Including Taxes_Product_4    0
Total Amount Excluding Taxes        0
Total Sales Tax @ 18%               0
Total Amount Including Taxes        0
dtype: int64

In [37]:
print(df.duplicated().sum())  # Count duplicate rows
df.drop_duplicates(inplace=True)  # Remove duplicates if necessary

0

In [38]:
print(df.dtypes)  # Check if the columns have the correct data types

Seller_NTN                                  object
Seller_Name                                 object
Seller_S.T.Reg.No                           object
Seller_Address                              object
Customer_Receipt_NO                          int64
Customer_NTN                                object
Customer_NAME                               object
Customer_Tax_ID                             object
Customer_Address                            object
Customer_Business                           object
Product 1                                   object
Product 2                                   object
Product 3                                   object
Product 4                                   object
Date                                datetime64[ns]
Quantity_Product_1                           int64
Quantity_Product_2                           int64
Quantity_Product_3                           int64
Quantity_Product_4                           int64
Rate_Product_1                               int64
Rate_Product_2                               int64
Rate_Product_3                               int64
Rate_Product_4                               int64
Tax_Product_1                              float64
Tax_Product_2                              float64
Tax_Product_3                              float64
Tax_Product_4                              float64
Product_1_Price_with_Tax                     int64
Product_2_Price_with_Tax                     int64
Product_3_Price_with_Tax                     int64
Product_4_Price_with_Tax                     int64
Amount Excluding Taxes_Product_1             int64
Sales Tax @ 18%_Product_1                  float64
Amount Including Taxes_Product_1           float64
Amount Excluding Taxes_Product_2             int64
Sales Tax @ 18%_Product_2                  float64
Amount Including Taxes_Product_2           float64
Amount Excluding Taxes_Product_3             int64
Sales Tax @ 18%_Product_3                  float64
Amount Including Taxes_Product_3           float64
Amount Excluding Taxes_Product_4             int64
Sales Tax @ 18%_Product_4                  float64
Amount Including Taxes_Product_4           float64
Total Amount Excluding Taxes                 int64
Total Sales Tax @ 18%                      float64
Total Amount Including Taxes               float64
dtype: object

In [39]:
df.shape

(20000, 46)

In [40]:
print(df.columns)

Index(['Seller_NTN', 'Seller_Name', 'Seller_S.T.Reg.No', 'Seller_Address',
       'Customer_Receipt_NO', 'Customer_NTN', 'Customer_NAME',
       'Customer_Tax_ID', 'Customer_Address', 'Customer_Business', 'Product 1',
       'Product 2', 'Product 3', 'Product 4', 'Date', 'Quantity_Product_1',
       'Quantity_Product_2', 'Quantity_Product_3', 'Quantity_Product_4',
       'Rate_Product_1', 'Rate_Product_2', 'Rate_Product_3', 'Rate_Product_4',
       'Tax_Product_1', 'Tax_Product_2', 'Tax_Product_3', 'Tax_Product_4',
       'Product_1_Price_with_Tax', 'Product_2_Price_with_Tax',
       'Product_3_Price_with_Tax', 'Product_4_Price_with_Tax',
       'Amount Excluding Taxes_Product_1', 'Sales Tax @ 18%_Product_1',
       'Amount Including Taxes_Product_1', 'Amount Excluding Taxes_Product_2',
       'Sales Tax @ 18%_Product_2', 'Amount Including Taxes_Product_2',
       'Amount Excluding Taxes_Product_3', 'Sales Tax @ 18%_Product_3',
       'Amount Including Taxes_Product_3', 'Amount Excluding Taxes_Product_4',
       'Sales Tax @ 18%_Product_4', 'Amount Including Taxes_Product_4',
       'Total Amount Excluding Taxes', 'Total Sales Tax @ 18%',
       'Total Amount Including Taxes'],
      dtype='object')